@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 221 19% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 1% 75%;
    --secondary-foreground: 222 18% 15%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 240 1% 75%;
    --accent-foreground: 222 18% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 221 19% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 18% 21%;
    --foreground: 0 0% 98%;
    --card: 222 18% 24%;
    --card-foreground: 0 0% 98%;
    --popover: 222 18% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 19% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 1% 75%;
    --secondary-foreground: 222 18% 15%;
    --muted: 221 19% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 1% 75%;
    --accent-foreground: 222 18% 15%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 19% 28%;
    --input: 221 19% 28%;
    --ring: 221 19% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
